<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.goods_manage.mapper.OrderMapper">

    <resultMap id="Order" type="com.zhang.goods_manage.pojo.Order">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="goods_id" jdbcType="INTEGER" property="goodsId"/>
        <result column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="getAllOrder" resultMap="Order" parameterType="com.zhang.goods_manage.pojo.Order">
        select o.*, g.goods_name from all_order o, goods_list g where o.goods_id = g.goods_id
                                                                  and o.order_id like CONCAT(#{orderId},'%')
    </select>

    <insert id="insertOrder" parameterType="com.zhang.goods_manage.pojo.Order">
        insert into all_order (goods_id, order_id, create_time)
        values (#{goodsId}, #{orderId}, #{createTime})
    </insert>

    <delete id="deleteOrder" parameterType="com.zhang.goods_manage.pojo.Order">
        delete
        from all_order
        where id = #{id}
    </delete>

    <update id="updateOrderById" parameterType="com.zhang.goods_manage.pojo.Order">
        update all_order
        set goods_id=#{goodsId},
            order_id=#{orderId},
            create_time=#{createTime}
        where id = #{id}
    </update>


</mapper>